<Connectivity>
  ConnectionType {{ connectionType }} 
</Connectivity>
<Account Information>
  Username testuser {{userName}}
  Password Password1 {{userPassword}}
</Account Information>
<System Information>
  DistributionType {{ ansible_os_family }}
</System Information>
